<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{{ title }}</title>
  <meta name="description" lang="en-us" content="{{ description }}">
  <meta name="slider-id" content="{{ uuid }}">

  <link rel="stylesheet" href="{{ lookup webpack.assets 'slides.css' }}">
  <link rel="stylesheet" href="{{ env.SLIDER }}slider.css">

  {{> favicon }}
</head>
<body>
  <header>
    <nav>
      <a id="login" title="Login with Google" class="noexternal" data-toggle="tooltip" data-placement="bottom" title="Please log in">
        <i class="fa fa-google" aria-hidden="true"></i>
      </a>
      <a id="logout" title="You're logged in!" class="noexternal">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
      </a>
      <a class="helpToggle" title="Keyboard shortcut help" class="noexternal">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
      </a>
      <a class="menuToggle" title="Close top menu" class="noexternal">
        <i class="fa fa-times" aria-hidden="true"></i>
      </a>
    </nav>
  </header>
  <div id="section">
    <article id="content"
      data-width={{ width }} data-height={{ height }} data-slider="{{ env.SLIDER }}">
      {{{ contents }}}
    </article>
  </div>
	<div class="modal fade" id="badEmailModal" tabindex="-1" role="dialog" aria-labelledby="badBrowserModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="badBrowserModalLabel">Bad Email Address</h5>
				</div>
				<div class="modal-body">
					<p>Please log in with your @illinois.edu email address.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="helpModalLabel">Keyboard Shortcuts</h5>
				</div>
				<div class="modal-body">
          <p>Here is a list of potentially helpful keyboard shortcuts:</p>
          <ul class="list-unstyled">
            <li>
              <span class="key">
                <i class="fa fa-caret-right"></i>
              </span>: go forward to the next slide
            </li>
            <li>
              <span class="key">
                <i class="fa fa-caret-left"></i>
              </span>: go back to the previous slide
            </li>
            <li>
              <kbd class="overviewToggle">o</kbd>: open (and close) the slide overview
            </li>
            <li>
              <kbd class="menuToggle">m</kbd>: open (and close) the top menu
            </li>
            <li>
              <kbd class="helpToggle">h</kbd>: open (and close) this help menu
            </li>
          </ul>
				</div>
			</div>
		</div>
	</div>
  <script src="https://apis.google.com/js/api:client.js"></script>
  <script src="{{ env.SLIDER }}slider.js"></script>
</body>
</html>
