---
title: "CS 125 Fall 2018 Project Fair"
description:
  CS 125 final projects for the Fall 2018 semester.
internalize:
  force: true
priority: 0.7
---

<p class="lead">
  The Second Biannual CS 125 Project Fair will take place Thursday 12/13/2018
  <span class="badge badge-illinois-orange"
    data-toggle="popover" data-placement="top" data-html="true"
    data-content="We are aware that this is Reading Day&mdash;participation in the fair is optional">1</span>
  from 5&ndash;8PM in
  <a href="https://goo.gl/6Hq7zK">Siebel</a>.
  <strong>{{ sum fair.Fall2018.impressive.length fair.Fall2018.other.length }}
    groups</strong>
  will exhibit their Android apps.
  An award ceremony will follow at 8PM in
  <a href="https://goo.gl/MGQWdu">Foellinger Auditorium</a>.
</p>

<p>
  {{ multiply 2 (sum fair.Fall2018.impressive.length fair.Fall2018.other.length)
  }} CS 125 students will be demoing lots of cool Android projects, so please
  come by to check them out!
</p>
<p>
  Will there be food? You'll have to come and find out.
  <strong>But definitely bring your own beverage.</strong>
</p>

<ul>
  <li><strong>What:</strong> CS 125 Final Project Fair</li>
  <li><strong>When:</strong> Thursday 12/13/2018, judging from 5&ndash;8PM in
    <a href="https://goo.gl/6Hq7zK">Siebel</a>
    and awards at 8PM in <a href="https://goo.gl/MGQWdu">Foellinger</a></li>
  <li><strong>Where:</strong> Demos throughout <a href="https://goo.gl/6Hq7zK">Siebel</a>,
    awards at 8PM in <a href="https://goo.gl/MGQWdu">Foellinger</a></li>
</ul>

<div class="mt-3 spelling_exception">
  <h2 id="winners" class="text-primary">Competition Winners</h2>
  <p class="lead">
    These four projects were deemed the most impressive by our judges.
    Two are by groups of students that were beginners when they started CS
    125&mdash;although who are clearly no longer beginners.
  </p>
  <div class="row">
    <div class="col-12 col-sm-6 mt-2">
      <div class="card pt-2 pl-2 pr-2">
        <div class="embed-responsive embed-responsive-19b9">
          <div class="youtube-container" data-id="6zCJiklqaCY"></div>
        </div>
        <div class="card-body text-center">
          <h5>First Place: Capture the Tag</h5>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 mt-2">
      <div class="card pt-2 pl-2 pr-2">
        <div class="embed-responsive embed-responsive-19b9">
          <div class="youtube-container" data-id="6qoHU2EmZ18"></div>
        </div>
        <div class="card-body text-center">
          <h5>First Place: Shibemon&nbsp;<span class="fa fa-star" data-toggle="tooltip" title="Beginner project!"></span></h5>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 mt-2">
      <div class="card pt-2 pl-2 pr-2">
        <div class="embed-responsive embed-responsive-19b9">
          <div class="youtube-container" data-id="2DHGThdop1g"></div>
        </div>
        <div class="card-body text-center">
          <h5>Second Place: Haunted Park Escape</h5>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 mt-2">
      <div class="card pt-2 pl-2 pr-2">
        <div class="embed-responsive embed-responsive-19b9">
          <div class="youtube-container" data-id="Ce9T0jXIRXM"></div>
        </div>
        <div class="card-body text-center">
          <h5>Second Place: Beat the Beat&nbsp;<span class="fa fa-star" data-toggle="tooltip" title="Beginner project!"></span></h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-3 spelling_exception">
  <h2 id="featured" class="text-primary">Featured Projects ({{ fair.Fall2018.impressive.length }})</h2>
  <p class="lead">
    We think that these are particularly cool.
    Half are by students that were beginners when they started CS 125!
    <a href="https://goo.gl/qahB5T">Here's a link to a playlist with all the impressive projects.</a>
  </p>
  <div class="row">
    {{#each fair.Fall2018.impressive }}
    <div class="col-12 col-sm-6 mt-2">
      <div class="card pt-2 pl-2 pr-2">
        <div class="embed-responsive embed-responsive-19b9">
          <div class="youtube-container" data-id="{{ this.youTubeID }}"></div>
        </div>
        <div class="card-body text-center">
          <h5>{{{ this.title }}}{{#if beginner }}&nbsp;<span class="fa fa-star" data-toggle="tooltip" title="Beginner project!"></span>{{/if}}</h5>
          <span class="small muted">Project #{{ this.index}}, Room {{ this.room }}</span>
        </div>
      </div>
    </div>
    {{/each }}
  </div>
</div>

<div class="mt-3 spelling_exception">
  <h2 id="other" class="text-primary">All Projects ({{ fair.Fall2018.other.length }})</h2>
  <p>
    We <em>also</em> think that these are cool. Destroy all weather apps!
  </p>
  <div class="row">
    {{#each fair.Fall2018.other }}
    <div class="col-12 col-sm-6 mt-2">
      <div class="card pt-2 pl-2 pr-2">
        <div class="embed-responsive embed-responsive-19b9">
          <div class="youtube-container" data-id="{{ this.youTubeID }}"></div>
        </div>
        <div class="card-body text-center">
          <h5>{{{ this.title }}}{{#if beginner }}&nbsp;<span class="fa fa-star" data-toggle="tooltip" title="Beginner project!"></span>{{/if}}</h5>
          <span class="small muted">Project #{{ this.index}}, Room {{ this.room }}</span>
        </div>
      </div>
    </div>
    {{/each }}
  </div>
</div>

<!--
  vim: et:ts=2:sw=2:ft=html
-->
