<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>{{ title }}</title>
		{{#if author }}
		<meta content="{{ author }}" name="author">
		{{/if}}
		<meta name="description" lang="en-us" content="{{ description }}">

    {{#if css }}
      <link rel="stylesheet" href="{{ lookup webpack.assets 'index.css' }}">
    {{else}}
      <link rel="stylesheet" href="{{ lookup webpack.assets 'site.css' }}">
    {{/if }}

    {{#if js }}
      <script src="{{ lookup webpack.assets 'index.js' }}" async></script>
    {{else}}
      <script src="{{ lookup webpack.assets 'site.js' }}" async></script>
    {{/if }}

		{{> favicon }}
		<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js" defer></script>
  </head>

  <body data-spy="scroll" data-target="#toc">
    {{> navbar }}

<!--
  vim: et:ts=2:sw=2:ft=html
-->
