---
title: "CS 125 Lectures"
description:
  Learn basic programming and computer science concepts through fun and
  highly-interactive lectures.
sidebar: learn
doTOC: false
---
<p class="lead">
  Slides are available for all CS 125 lectures. All slide decks contain many
  examples that you can run and interact with.
</p>

<a class="anchor" id="Fall_2018"></a>
<h1>Fall 2018</h1>

<a href="https://www.youtube.com/playlist?list=PLi9J8D4T_-pqnWHhc67TDbZQiyPWPMnmV">
  YouTube Playlist
</a>&nbsp;//<a href="https://goo.gl/n2Uzkj">
  Pre-Lecture Music
</a>

<hr />

<div class="mt-2 smaller">
  {{#each slides.Fall2018 }}
  <div class="row">
    <div class="col-12">
      <h2 id="_{{ this.slug }}" class="h3">
        {{ format_date this.date "slides" }}.
        <span style="font-weight: normal;">
          {{{ this.title }}}
        </span>
      </h2>
      <div class="h6" style="font-weight: normal;">
        {{#if this.slides }}
          <a class="external" target="_blank" href="{{ this.slides }}">Slides</a>
        {{/if}}
        {{#if this.separator }}
          //
        {{/if}}
        {{#if this.echo }}
          <a class="external" target="_blank" href="{{ this.echo }}">Echo 360 Video</a>
        {{/if}}
        {{#if this.youtube }}
          <a class="external" target="_blank" href="{{ this.youtube }}">YouTube</a>
        {{/if}}
      </div>
      <p>
        {{{ this.description }}}
      </p>
    </div>
  </div>
  {{/each}}
</div>

<a class="anchor" id="Spring_2018"></a>
<h1>Spring 2018</h1>

<a href="https://echo360.org/section/8cef8dac-8c35-444a-85a6-d4148eca942f/home">
  Echo360
</a>&nbsp;//<a href="https://goo.gl/n2Uzkj">
  Pre-Lecture Music
</a>

<hr />

<div class="mt-2 smaller">
  {{#each slides.Spring2018 }}
  <div class="row">
    <div class="col-12">
      <h2 id="_{{ this.slug }}" class="h3">
        {{ format_date this.date "slides" }}.
        <span style="font-weight: normal;">
          {{{ this.title }}}
        </span>
      </h2>
      <div class="h6" style="font-weight: normal;">
        {{#if this.slides }}
          <a class="external" target="_blank" href="{{ this.slides }}">Slides</a>
        {{/if}}
        {{#if this.separator }}
          //
        {{/if}}
        {{#if this.echo }}
          <a class="external" target="_blank" href="{{ this.echo }}">Echo360</a>
        {{/if}}
      </div>
      <p>
        {{{ this.description }}}
      </p>
    </div>
  </div>
  {{/each}}
</div>

<div class="col-xl-3 d-none d-xl-block toc">
  <nav id="toc" class="nav flex-column">
    <ul class="section-nav">
      <li class="entry">
        <a class="nav-link" href="#Fall_2018">Fall 2018</a>
        <ul>
        {{#each slides.Fall2018 }}
          <li class="small">
            <a class="nav-link" href="#_{{ this.slug }}"><code>{{ format_date this.date "shortSlides" }}</code>: {{ this.title }}</a>
          </li>
        {{/each}}
        </ul>
      </li>
      <li class="entry">
        <a class="nav-link" href="#Spring_2018">Spring 2018</a>
      </li>
    </ul>
  </nav>
</div>
