---
title: "CS 125 Fall 2017 Syllabus"
spelling_exceptions:
  - CS 196
description: >
  Syllabus for "CS 125: Introduction to Computer Science" at the University of
  Illinois in Fall 2017.
priority: 0.8
changefreq: monthly
layout: single.hbt
datatables:
  labtable:
    pageLength: 5
    lengthMenu: [ 5, 10, 25 ]
---
:sectnums:
:linkattrs:

[.hidden-print]
--
[.lead]
//
This web page serves as the syllabus for the course.

You should familiarize yourself with these policies and refer to them when
necessary.
--

== Overview

[.lead]
//
This course is an introduction to the concepts and craft of computer science.
//
It will teach you to both _think_ and _act_ like a computer scientist.
//
It will change how you approach problems and provide you with powerful tools
that you can use to change the world.

Computer science is both an applied and a conceptual discipline.
//
You _will_ learn how to program in this course.
//
Learning how to program effectively helps you bring your ideas to life.
//
It can be frustrating at first&mdash;computers are irritatingly literal
machines.
//
But programming is a skill, and like any other skill you will get better with
practice.
//
Computers are one of the most powerful tools that we have at our disposal to
solve almost any problem.
//
Learning how to get them to do your bidding is extremely empowering.
//
You will quickly come to understand the hackers lament.
//
Once you can program well, you can do anything&mdash;just not everything.

But while programming is both important and enjoyable, computer science also
has deep conceptual concerns at its core.
//
As a computer scientist, you'll learn to design solutions to problems so that
computers can carry them out efficiently&mdash;we call these algorithms.
//
Being a computer scientist means coming up with new ways to solve problems
more effectively.
//
And then you get to build your solutions and can easily deploy them to
billions of people all over the world.
//
**No other field has our potent mixture of left-brain analytics, right-brain
design and creativity, and the potential for global impact.**

=== Prerequisites

[.lead]
//
CS 125 has no prerequisites and assumes no prior knowledge of programming or
computer science.
//
However, the course is a lot of work---and so is best suited to those who are
either majoring in computer science or have a strong interest in the subject.

Some students in CS 125 have no experience with computer science.
//
Others have been programming for years.
//
We will do our best to accommodate both groups.

==== If you're new to computer science...

Welcome to the most exciting field on Earth!
//
We're extremely happy to have you.
//
We know that it can be hard to get started, but trust us&mdash;you'll get
better with practice.
//
Programming is a skill.
//
The more you do, the better you get.
//
If you're willing to put in the time and energy, we're here to help you
succeed.

When you're starting something new, it's normal to occasionally feel
intimidated by those around you.
//
We were all new once, and most of us try new things at least once and a while.
//
So we know what it feels like.
//
Just remember that no matter how it may seem, there are a lot of other
students in CS 125 that are beginners too.
//
And if you're working harder than some other students in the class, then it
just means that you're learning more than they are.

Also keep in mind that computer scientists can get extremely excited about
what they know.
//
Our field is awesome, and we're all learning new things all of the time.
//
Unfortunately, sometimes that can come off as arrogance or bragging.
//
But don't let it get you down.
//
We want you to share in the excitement, and will do our best to make sure that
happens.

==== If you think you already know what you are doing...

There's so much more to learn!
//
No matter how much background in computer science you have, there are always
new areas to explore, new languages to learn, new problems to solve.

Even if you don't find every aspect of CS 125 challenging, we hope that it can
continue to move you forward on your journey in computer science.
//
Keep in mind that continuing to develop as a programmer requires practice.
//
If the MPs don't take you that long, then you aren't getting the practice that
you need to keep improving.
//
You might want to join the http://cs196.xyz/[honors section (CS 196)],
//
get involved with the
//
https://acm.illinois.edu/[Illinois Chapter of the Association for Computing Machinery (ACM)],
//
or just make sure that you have some side projects to keep you busy.

And please feel free to help other students in the class that might not know
as much as you.
//
One of the best things about computer science is the community of generous and
patient people willing to help beginners get started.

[[times]]
== Dates, Times, and Locations

[.lead]
//
CS 125 consists of lecture taught in an active learning format, weekly lab
sections, and office hours.
//
You will attend three one-hour lecture per week, one two-hour lab section, and
many office hours.

Lectures are taught by one the link:/people/#instructiors[instructors]:
//
pass:[{{#or_list course.staffByRole.Instructor}}{{ this.name }}{{/or_list}}].
//
Labs are led the link:/people/#tas[{{ course.staffByRole.TA.length }} TAs],
//
and office hours are staffed by our link:/people/#doyens[_{{ course.staffByRole.Doyen.length }}_
Illinoisan Doyens].
//
You can find out more about the entire staff on the link:/people/[people page].

[[calendar]]
=== Calendar

We suggest that you add our https://goo.gl/j3GMJh[shared calendar] to your
calendaring program.
//
If you are not using a calendaring program, we suggest that you start using a
calendaring program.

++++
<div class="row mt-3 mb-3">
  <div class="col-12 col-lg-10 col-xl-8 ml-auto mr-auto">
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=illinois.edu_vq13jqf54bk30tt055uf1c211s%40group.calendar.google.com&amp;color=%23B1440E&amp;ctz=America%2FNew_York"></iframe>
    </div>
  </div>
</div>
++++

=== Lectures

All of the CS 125 lectures are usually near capacity, so **please attend the
lecture that you are registered for.**

[.table.table-striped.table-sm.spelling_exception,options='header',cols='4*^']
|===
| # | Days | Time | Location

{{#each course.timesByType.lecture }}

| {{ this.section }}
| {{ this.days }}
| {{ this.start}}&ndash;{{ this.end }}
| {{ this.location }}

{{/each}}

|===

[[labs]]
=== Labs

[[labtable]]
[.small.table.table-sm.colgroup.datatables.spelling_exception,cols="^1,^2,^2,^2,^4,^4",options="header"]
|===

| # | Days | Time | Location | TA | Doyens

{{#each course.timesByType.lab }}

| {{ this.section }}
| {{ this.days }}
| {{ this.start}}&ndash;{{ this.end }}
| {{ this.location }}
| {{ this.instructor.name }}
| pass:[{{#and_list this.doyens }}{{ this.name }}{{/and_list}}]

{{/each}}

|===

// vim: ts=2:sw=2:et:ft=asciidoc
