---
title: "CS 125 Course Staff"
description:
  Your journey in computer science is beginning. We're here to help you along
  the way.
priority: 0.9
changefreq: monthly
layout: people/index.hbt
---
<a class="anchor" id="top"></a>
<div class="mt-2 spelling_exception">
  <h2 id="instructors" class="text-primary">Instructors</h2>
  <div class="row">
    {{#each course.staffByRole.Instructor }}
    <div class="col-12 col-sm-6 col-lg-4 mt-2">
      <div class="card pt-2 pl-2 pr-2">
        <img class="card-img-top" src="{{{ this.photo }}}" alt="Photo of {{{ this.name }}}">
        <div class="card-body">
          <h4 class="card-title text-center">{{{ this.name }}}</h4>
          <p class="card-text">
          Teaching lectures{{#if this.sections}}
          and {{ inflect this.sections.length "section" "sections" }}
          {{#and_list this.sections }}{{ this }}{{/and_list}}
          {{else}}.{{/if}}
          </p>
        </div>
      </div>
    </div>
    {{/each }}
  </div>
</div>

<div class="mt-3 spelling_exception">
  <h2 id="tas" class="text-primary">Teaching Assistants</h2>
  <div class="row">
    {{#each course.staffByRole.TA }}
    <div class="col-12 col-sm-6 col-lg-4 mt-2">
      <div class="card pt-2 pl-2 pr-2">
        <img class="card-img-top" src="{{{ this.photo }}}" alt="Photo of {{{ this.name }}}">
        <div class="card-body">
          <h5 class="card-title text-center">{{{ this.name }}}</h5>
          {{#if this.sections }}
          <p class="card-text">
          Teaching {{ inflect this.sections.length "section" "sections" }}
          {{#and_list this.sections }}{{ this }}{{/and_list}}
          </p>
          {{/if}}
        </div>
      </div>
    </div>
    {{/each }}
  </div>
</div>

<div class="mt-3 spelling_exception">
  <h2 id="doyens" class="text-primary">Illinoisan Doyens</h2>
  <div class="row">
    {{#each course.staffByRole.Doyen }}
    <div class="col-12 col-sm-6 col-lg-4 mt-2">
      <div class="card pt-2 pl-2 pr-2">
        <img class="card-img-top" src="{{{ this.photo }}}" alt="Photo of {{{ this.name }}}">
        <div class="card-body">
          <div class="person card-title text-center">{{{ this.name }}}</div>
          {{#if this.sections }}
          <p class="card-text">
          Assisting with {{ inflect this.sections.length "section" "sections" }}
          {{#and_list this.sections }}{{ this }}{{/and_list}}
          </p>
          {{/if}}
        </div>
      </div>
    </div>
    {{/each }}
  </div>
</div>

{{> footer }}

<!--
  vim: et:ts=2:sw=2:ft=html
-->
